/**
 * @FileName: spotlightProducts
 * @Description:
 * @Author: Graeme Ward
 * @ModificationLog:
 *-----------------------------------------------------------
 * Author            Date            Modification
 * Graeme Ward       6/30/2020         Created
 *-----------------------------------------------------------  
 */
.xc-spotlight-product {
    flex: 1;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.25;
    padding: 0;
}